*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
/* common codes */
.primary-btn{
    background: #FF900E;
    padding: 20px 25px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    border-radius: 8px;
    border: 0;
}
/* work sans google fonts  */
body{
    font-family: 'Work Sans', sans-serif;
    max-width: 1200px;
    border: 2px solid;
    margin: 0 auto;
}
/* header part style here */
header .align-left{
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
}
header h3{
    margin-left: 25px;
    font-weight: 700;
    font-size: 25px;
}
nav ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
}
nav a{
    text-decoration: none;
    color: #424242;
    font-weight: 500;
    font-size: 18px;
}
.header-banner{
    display: flex;
    flex-direction: column;
    width: 700px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 100px auto;
    margin-bottom: 50px;
}
.header-title{
    color: #131313;
    font-weight: 700;
    font-size: 30px;
}
.header-desc{
    color: #727272;
    margin-top: 20px;
    margin-bottom: 30px;
}
.banner-image{
    text-align: center;
}
.image{
    width: 1000px;
}
/* main section starts */
/* 1st section start */
.container{
    display: flex;
    justify-content: center;
    margin: 100px 200px;
}
.left-align{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 24px;
    margin-right: 73px;
    /* width: 40%; */
}
.left-align img{
    width: 182px;
}

.right-align{
    /* width: 40%; */
    padding: 60px 0;
    padding-left: 0;
}
.title h4{
    margin-bottom: 24px;
}

.title h4 .span1{
    color: #727272;
    font-weight: 500;
    font-size: 45px;
}
.title h4 .span2{
    color: #131313;
    font-weight: 700;
    font-size: 45px;
}
.title h4 .span3{
    color: #FF900E;
    font-weight: 700;
    font-size: 45px;
}
.sub-title{
    color: #727272;
    margin-bottom: 32px;
    text-align: justify;
}
/* 2nd section start  */
.features{
    margin: 50px 100px;
    display: flex;
    gap: 20px;
}
.left-alignment{
    width: 50%;
}
.features-title{
    border-left: 3px solid #FF900E;
    padding-left: 20px;
    color: #131313;
    font-weight: 700;
    font-size: 40px;
    /* line-height: 53px; */
    /* margin-left: 20px; */
}
.features-sub-title{
    color: #727272;
    line-height: 20px;
    margin: 20px 0;
}

article{
    padding: 30px;
    /* margin-top: 15px; */
}
.article-title{
    color: #131313;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 10px;
}
.article-sub-title{
    color: #727272;
}
.right-alignment{
    width: 50%;
}
.right-alignment img{
   width: 100%;
}
.features-btn{
    position: relative; 
    bottom: 80px;  
    left: 0px; 
    font-size: 35px;
}
.features-btn span{    
    font-size: 17px;
}



/* media queries starts */
/* for mobile  */
@media screen and (max-width: 576px) {
    header .align-left{
        flex-direction: column;
        text-align: center;
    }
    nav h3{
        margin-bottom: 25px;

    }
    nav ul{
        flex-direction: column;
    }
    nav li{
        margin-bottom: 25px;
        width: 100%;
    }

    .header-banner{
        width: 320px;
        margin: 50px auto;
        /* margin-bottom: 50px; */
    }
    
    .header-title h2{
        font-weight: 600;
        font-size: 25px;
    }
    .primary-btn{
        padding: 15px 20px;
        font-weight: 500;
        font-size: 16px;
    }
    .image{
        width: 100%;
    }

    .container{
        flex-direction: column;
        margin: 0;
    }
    .left-align{
        padding: 15px 10px;
        margin-right: 0;
    }
    .left-align img{
        width: 162px;
    }

    .right-align{
        padding: 10px;
        margin-top: 25px;
    }

    .title h4{
        text-align: center;
    }
    .sub-title p{
        text-align: justify;
        padding: 0 7px;
    }

    .title h4 .span1{        
        font-size: 35px;
    }
    .title h4 .span2{        
        font-size: 35px;
    }
    .title h4 .span3{        
        font-size: 35px;
    }
    .section-btn{
        text-align: center;
    }
    .left-alignment{
        width: 100%;
    }
    .features{
    margin: 30px 10px;
    flex-direction: column;
    /* gap: 20px; */
    } 
    .features-title{
        font-weight: 400;
    }
    .right-alignment{
        width: 100%;
    }
}
/* for tablet */
@media screen and (min-width: 577px) and (max-width: 992px) {
    .image{
        width: 100%;
    }
    .header-banner{
        width: 500px
    }
    .header-title{
        font-size: 22px;
    }
    .container{
        flex-direction: column;
        margin: 0;
    }

    .left-align img{
        width: 262px;
    }

    .left-align{
        margin-left: 100px;
        margin-top: 50px;
    }

    .sub-title p{
        padding: 0 20px;
    }

    .title{
        text-align: center;
    }

    .section-btn{
        text-align: center;
    }
    .features{
        /* margin: 30px 10px; */
        flex-direction: column;
        /* gap: 20px; */
    } 
    .left-alignment{
        width: 100%
    }
    .features-title{
        text-align: center;
        border-left: 0;
    }
    .features-sub-title{
        text-align: center;
    }
    .article-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
    .right-alignment{
        width: 100%;

    }
}
